:root {
    font-family: 'Courier New', Courier, monospace;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

html, body {
    height: 100vh;
    height: fill-available;
    height: -moz-fill-available;
    height: -webkit-fill-available;
}

body {
    background-color: #121212;
    color: white;
    margin: 0;
    position: relative;
}

#page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Actual Stuff */

#time-as-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 3px black;

    font-size: 2.5em;
}

#time-as-text > span {
    font-size: 1.5em;
    font-weight: 800;
}

svg {
    width: 90vmin;
    aspect-ratio: 1 / 1;
    shape-rendering: crispEdges;
    /* background-color: antiquewhite; */
}

.countdown-element {
    --path-length: 0;
    shape-rendering: geometricPrecision;
    --accent: deepskyblue;
}

#hours-left-group {
    --accent: hsl(0, 100%, 75%);
    --divisions: 24;
}

#minutes-left-group {
    --accent: hsl(120, 100%, 75%);
    --divisions: 60;
}

#seconds-left-group {
    --accent: hsl(240, 100%, 75%);
    --divisions: 60;
}

.countdown-element > circle {
    fill: none;
    transform-origin: center;
    transform: rotate(-90deg);
}

.countdown__track {
    stroke: rgba(255, 255, 255, 0.1);
    stroke: var(--accent);
    stroke-width: 60;
    --half-empty-space: calc(86400 / var(--divisions) / 20);
    --filled-space: calc(86400 / var(--divisions) - 2 * var(--half-empty-space));
    /* For uniform half sized empty spaces on either side, we do: 0 fill, half empty, filled space, half empty */
    stroke-dasharray: 0 var(--half-empty-space) var(--filled-space) var(--half-empty-space);
}

.countdown__arc {
    stroke-dasharray: var(--path-length) var(--path-length);
    stroke-dashoffset: calc(var(--path-length) - var(--time-elapsed));
    stroke: #121212;
    stroke-width: 62;
}